<a href="https://colab.research.google.com/github/amrit6878/Data-Cleaning-Work/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
input = 'Amrit'
print(input)

Amrit

In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("/content/marketing_campaign_data_messy.csv")
print(f"Loaded dataset contains {df.shape[0]} rows and {df.shape[1]} columns" )

Loaded dataset contains 2020 rows and 12 columns

In [9]:
df

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24 00:00:00,2023-12-13,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06 00:00:00,2023-05-12,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13 00:00:00,2023-12-20,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,2023-10-30,2023-11-03,TikTok,55886,2019,2180.38,135.0,True,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22 00:00:00,2023-04-23,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,2023-10-31 00:00:00,2023-11-13,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2016,CMP-01255,Q4_Summer_CMP-01255,2023-09-01 00:00:00,2023-09-26,Google Ads,20097,897,1641.0,162.0,0,NaN,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2023-02-09 00:00:00,2023-02-21,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2018,CMP-01118,Q4_Winter_CMP-01118,2023-03-30 00:00:00,2023-04-27,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2019,CMP-01554,Q4_Launch_CMP-01554,2023-06-26 00:00:00,2023-07-09,Email,96402,1090,1315.59,66.0,Y,NaN,EM

In [10]:
df.describe()

        Impressions      Clicks   Conversions        Clicks
count   2020.000000  2020.000000  1820.000000     40.000000
mean   49839.896040  1500.744059   186.085714  54856.200000
std    28579.637473  1084.765654   160.129172  30552.773369
min     1055.000000    11.000000     0.000000   2508.000000
25%    25033.500000   650.750000    68.000000  30164.750000
50%    50097.500000  1245.000000   142.000000  57707.500000
75%    74784.250000  2185.250000   257.000000  81497.500000
max    99875.000000  4812.000000   943.000000  99483.000000

In [11]:
df.isnull().sum()
# df.isnull().sum().sum()

 Campaign_ID        0
Campaign_Name       0
Start_Date          0
End_Date            0
Channel           101
Impressions         0
Clicks              0
Spend               0
Conversions       200
Active              0
Clicks           1980
Campaign_Tag        0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    Campaign_ID   2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   object
 3   End_Date       2020 non-null   object
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   object
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   object
 10  Clicks         40 non-null     float64
 11  Campaign_Tag   2020 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 189.5+ KB

## **Starting with structured Cleaning Tamplete which could be reused for future EDA.**

In [13]:
# Header Cleaning or Columns check
print(df.columns.tolist())
print(f"No. of Columns present in Dataset is: " , len(df.columns.tolist()))

print("Fixing the Spaces withe the _ value in column names")
# df.columns = df.columns.str.lower() or .str.upper() as per requirement
df.columns = df.columns.str.replace(' ', '_')
print(df.columns.tolist())

[' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks', 'Campaign_Tag']
No. of Columns present in Dataset is:  12
Fixing the Spaces withe the _ value in column names
['_Campaign_ID_', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks_', 'Spend', 'Conversions', 'Active', 'Clicks', 'Campaign_Tag']

In [14]:
# DataType COnversion Here Spend in this case
df.Spend.head(5)
# df.Spend.sample(5)
# therefore we need to remove the $ sign to make same type of Spend Currrency
df['Spend'] = df['Spend'].astype(str).str.replace('$', '', regex=False)
df['Spend'] = pd.to_numeric(df['Spend'])
df.Spend.head(5)
# df.Spend.dtype

0     102.82
1      24.33
2    1323.39
3    2180.38
4     252.44
Name: Spend, dtype: float64

In [15]:
# Categorical Analysis of the Column - Duplicate/Redundant Columns
print(df.Channel.unique())
print(df.Channel.value_counts())

# Some columns Like Facebook Instagram and Tiktok are repeated

['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'E-mail' nan 'Gogle'
 'Tik_Tok' 'Facebok' 'Insta_gram']
Channel
TikTok        399
Facebook      391
Email         359
Google Ads    346
Instagram     340
E-mail         21
Insta_gram     19
Tik_Tok        16
Gogle          14
Facebok        14
Name: count, dtype: int64

In [16]:
cleanup_map = {
    'TikTok' : 'Tik_Tok',
    'Facebook' : 'Facebok',
    'Instagram' : 'Insta_gram',
    'Gogle' : 'Google Ads',
    'E-mail' : 'Email',
    'N/A' : np.nan
}

df.Channel = df.Channel.replace(cleanup_map)
print(df.Channel.unique())
df.Channel

['Tik_Tok' 'Facebok' 'Email' 'Insta_gram' 'Google Ads' nan]

0          Tik_Tok
1          Facebok
2            Email
3          Tik_Tok
4          Facebok
           ...
2015       Tik_Tok
2016    Google Ads
2017    Insta_gram
2018       Facebok
2019         Email
Name: Channel, Length: 2020, dtype: object

In [17]:
# Handling Mixed Boolean Values
print(df.Active.unique())

['Y' '0' 'No' 'True' 'Yes' '1' 'False']

In [18]:
bool_map = {
    'Y': True,
    'Yes': True,
    '1': True,
    'True': True,
    'False': False,
    'No': False,
    '0': False
}

df['Active'] = df['Active'].replace(bool_map)
df['Active'] = df['Active'].astype(bool)
print(df.Active.unique())

[ True False]

/tmp/ipython-input-1167466471.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Active'] = df['Active'].replace(bool_map)

# Handling Missing Values

## Inspect Missing Values and Impute Channel Column

Display the number of missing values for each column to understand the extent of the problem. df.isnull().sum()

In [19]:
# claculating mode of channel column
channel_mode = df['Channel'].mode()[0]
# Mode imputation of Channel
df['Channel'] = df['Channel'].fillna(channel_mode)
print(f"Missing values in 'Channel' after imputation: {df['Channel'].isnull().sum()}")

Missing values in 'Channel' after imputation: 0

## Impute 'Conversions' Column using the median

In [20]:
# claculating the median of conversion column
conversions_median = df['Conversions'].median()
# Median Imputation
df['Conversions'] = df['Conversions'].fillna(conversions_median)
print(f"Missing values in 'Conversions' after imputation: {df['Conversions'].isnull().sum()}")

Missing values in 'Conversions' after imputation: 0

## Impute Sparse 'Clicks' Column with '0' value using Fillna

In [21]:
df['Clicks'].fillna(0, inplace=True)
print(f"Missing values in 'Clicks' after imputation: {df['Clicks'].isnull().sum()}")

Missing values in 'Clicks' after imputation: 0

/tmp/ipython-input-2219837710.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Clicks'].fillna(0, inplace=True)

In [22]:
df['Clicks'] = df['Clicks'].fillna(0)
print(f"Missing values in 'Clicks' after imputation: {df['Clicks'].isnull().sum()}")

Missing values in 'Clicks' after imputation: 0

In [23]:
# Verifying All the Missing values has been filled
print("Missing values after all imputations:")
df.isnull().sum()

Missing values after all imputations:

_Campaign_ID_    0
Campaign_Name    0
Start_Date       0
End_Date         0
Channel          0
Impressions      0
Clicks_          0
Spend            0
Conversions      0
Active           0
Clicks           0
Campaign_Tag     0
dtype: int64

In [24]:
# Date-time Parsing
print(df.Start_Date.head())
print(df.End_Date.head())

print(df.Start_Date.dtype)
print(df.End_Date.dtype)

# format : df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')
df.Start_Date = pd.to_datetime(df.Start_Date, errors='coerce')
df.End_Date = pd.to_datetime(df.End_Date, dayfirst=True)

print(df.Start_Date.head())
print(df.End_Date.head())

0    2023-11-24 00:00:00
1    2023-05-06 00:00:00
2    2023-12-13 00:00:00
3             2023-10-30
4    2023-04-22 00:00:00
Name: Start_Date, dtype: object
0    2023-12-13
1    2023-05-12
2    2023-12-20
3    2023-11-03
4    2023-04-23
Name: End_Date, dtype: object
object
object
0   2023-11-24
1   2023-05-06
2   2023-12-13
3          NaT
4   2023-04-22
Name: Start_Date, dtype: datetime64[ns]
0   2023-12-13
1   2023-05-12
2   2023-12-20
3   2023-11-03
4   2023-04-23
Name: End_Date, dtype: datetime64[ns]

/tmp/ipython-input-3910858797.py:10: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df.End_Date = pd.to_datetime(df.End_Date, dayfirst=True)

In [25]:
# Extract Date features after cleaning
# df['year'] = df['Start_Date].dt.year
# df['month'] = df['Start_Date'].dt.month
# df['day'] = df['Start_date'].dt.day
# df['weekday'] = df['Start_date'].dt.day_name()

In [26]:
df

,_Campaign_ID_,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks_,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,Tik_Tok,16795,197,102.82,20.0,True,0.0,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,Facebok,1860,30,24.33,1.0,False,0.0,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,Email,77820,843,1323.39,51.0,False,0.0,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,2023-11-03,Tik_Tok,55886,2019,2180.38,135.0,True,0.0,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,Facebok,7265,169,252.44,30.0,True,0.0,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,2023-10-31,2023-11-13,Tik_Tok,30592,586,503.95,77.0,True,0.0,TI
2016,CMP-01255,Q4_Summer_CMP-01255,2023-09-01,2023-09-26,Google Ads,20097,897,1641.00,162.0,False,0.0,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2023-02-09,2023-02-21,Insta_gram,33254,1117,883.82,214.0,False,0.0,IN
2018,CMP-01118,Q4_Winter_CMP-01118,2023-03-30,2023-04-27,Facebok,68728,2960,4198.50,591.0,True,0.0,FA
2019,CMP-01554,Q4_Launch_CMP-01554,2023-06-26,2023-07-09,Email,96402,1090,1315.59,66.0,True,0.0,EM

In [28]:
print(df.columns.tolist())
df = df.drop('Clicks', axis=1)
print("Columns after removing the redundant 'Clicks' column:")
print(df.columns.tolist())

['_Campaign_ID_', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks_', 'Spend', 'Conversions', 'Active', 'Clicks', 'Campaign_Tag']
Columns after removing the redundant 'Clicks' column:
['_Campaign_ID_', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks_', 'Spend', 'Conversions', 'Active', 'Campaign_Tag']

In [29]:
# Lgical integrity such as there is no clicks more than the no. of impressions
clicks_count = df.Clicks_.count()
impressions_count = df.Impressions.count()
if clicks_count <= impressions_count:
    print("There is no clicks more than the no. of impressions")

There is no clicks more than the no. of impressions

In [36]:
# similarly we can check the logical integrity for the time traversal like if end_date < start_date
time_travel_mask = df.End_Date < df.Start_Date
if time_travel_mask.any():
    print("There is time travel in the dataset.")
    df.loc[time_travel_mask, 'End_Date'] = df.loc[time_travel_mask, 'Start_Date'] + pd.Timedelta(days=30)
    print("Time travel corrected.")
else:
    print("No time travel found in the dataset.")

No time travel found in the dataset.

In [43]:
# Handling Outliers by IQR method in Spend column

Q1 = df.Spend.quantile(0.25)
Q3 = df.Spend.quantile(0.75)
IQR = Q3 - Q1
upper_fence = Q3 + 1.5 * IQR
lower_fence = Q1 - 1.5 * IQR

outlier_mask = (df.Spend > upper_fence) | (df.Spend < lower_fence)
print(df.loc[outlier_mask, 'Spend'])

# to fix this issue assign the outliers to upper or lower limit
df.loc[df['Spend'] > upper_fence, 'Spend'] = upper_fence
df.loc[df['Spend'] < lower_fence, 'Spend'] = lower_fence

Series([], Name: Spend, dtype: float64)

In [44]:
# String Parsing
print(df.Campaign_Name.head(5))

0         Q4_Summer_CMP-00001
1         Q1_Launch_CMP-00002
2         Q3_Winter_CMP-00003
3    Q1_BlackFriday_CMP-00004
4         Q2_Winter_CMP-00005
Name: Campaign_Name, dtype: object

In [47]:
# Feature Extraction
df['season'] = df.Campaign_Name.str.extract(r'Q\d_([^_]+)_')
df['season'] = df['season'].str.replace('_', ' ')
df.Campaign_Name.head()
# df.season.head()

0         Q4_Summer_CMP-00001
1         Q1_Launch_CMP-00002
2         Q3_Winter_CMP-00003
3    Q1_BlackFriday_CMP-00004
4         Q2_Winter_CMP-00005
Name: Campaign_Name, dtype: object